.text {
    width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text h2 {
    display: block;
    margin: 0 auto;
    width: min-content;
    line-height: 150%;
}

.title {
    font-size: 50px;
}

.date {
    font-size: 18px;
    font-weight: normal;
    vertical-align: top;
}

.content {
    font-size: 14px;
    width: 60%;
    margin: 0 auto;
}
