.container {
	display: inline-block;
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;
	white-space: nowrap;
	padding-left: 15rem;
}

.container li {
	height: 100vh;
	width: 50rem;
	background-color: red;
}

.text {
    width: 600px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text h2 {
    display: block;
    margin: 0 auto;
    width: min-content;
    line-height: 150%;
}

.title {
    font-size: 50px;
}

.date {
    font-size: 18px;
    font-weight: normal;
    vertical-align: top;
}

.content {
    font-size: 14px;
    width: 60%;
    margin: 0 auto;
}
