main {
	overflow-y: hidden;
}

aside {
	width: 15rem;
	margin: 0;
	/* background-color: rgba(255, 255, 255, 0.2); */
	z-index: 42;
	position: relative;
	overflow-y: hidden;
}

.article {
	overflow-y: scroll;
	overflow-x: hidden;
	transform: rotate(270deg) translateX(-100%);
	transform-origin: top left;
	position: absolute;
	width: 100vh;
	height: 100vw;
	left: 0;
	top: 0;
}

.container {
	display: inline-block;
	transform: rotate(90deg) translateY(-100vh);
	transform-origin: top left;
	white-space: nowrap;
	padding-left: 15rem;
}

.menuWrapper {
    height: 90vh;
    width: 15%;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity 0.3s ease;
	opacity: 0;
	pointer-events: none;
}

.menuWrapper menu {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.menuWrapper .menu li,
.menuWrapper .menuBottom li {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.menuWrapper .menu li {
	cursor: pointer;
	transition: transform 0.3s ease;
}

.menuWrapper .menuBottom {
	margin-bottom: 2rem;
}

.menuWrapper .menu li.highlighted {
    transform: translateX(1rem);
}

.menuWrapper .menu li.all {
    display: none;
}

.menuWrapper .menuBottom li a {
    color: black;
    text-decoration: none;
}

.credit {
	width: 10rem;
	margin-top: 1rem;
}

.credit, .credit a {
	color: lightgrey !important;
}

.burger {
    display: none;
    cursor: pointer;
    width: 2rem;
	height: 1.7rem;
	position: fixed;
	right: 0;
	top: 0.3rem;
	margin: 2rem 2rem 2rem 0;
}

.burger > .line,
.burger > .line::before,
.burger > .line::after {
    position: relative;
    height: 0.25rem;
    width: 100%;
    background-color: black;
    transition: all 0.4s ease;
}

.burger > .line::before,
.burger > .line::after {
    content: '';
    position: absolute;
}

.burger > .line {
    top: 0.7rem;
}

.burger > .line::before {
    top: -0.7rem;
}

.burger > .line::after {
    top: 0.7rem;
}

@media only screen and (max-width: 600px) {
	main {
		overflow-y: scroll;
	}

	aside {
		width: 100%;
	}

	.article {
		overflow-y: scroll;
		overflow-x: hidden;
		transform: rotate(0deg) translateX(0);
		width: 100%;
		height: auto;
	}

	.container {
		display: block;
		transform: rotate(0deg) translateY(0);
		padding-left: 0;
		margin-top: 6rem;
	}

	.menuWrapper {
		height: 100vh;
		position: fixed;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.8);
		padding-top: 6rem;
		padding-left: 0;
		justify-content: start;
	}

	.menuWrapper .menuBottom {
		padding-top: 1rem;
	}

	.menuWrapper .menu li,
	.menuWrapper .menuBottom li {
		font-size: 1.2rem;
		text-align: center;
		transition: none;
		padding: 0.3rem 0;
	}

	.menuWrapper .menu li.highlighted {
	    transform: translateX(0);
		font-weight: bold;
	}

	.menuWrapper .menu li.all {
		display: block;
	}

	.burger {
        display: block;
    }

	.close > .line {
        transform: rotate(225deg);
    }

    .close > .line::before,
    .close > .line::after {
        transform: rotate(90deg);
        top: 0;
    }

	.credit {
		position: absolute;
		bottom: 1rem;
		left: 50%;
		font-size: 1rem !important;
		transform: translateX(-50%);
		text-align: center;
		width: auto;
	}

	.credit, .credit a {
		color: grey !important;
	}

}
