a {
    text-decoration: none;
    color: black;
}

header {
    background: none;
    padding: 2rem 0 2rem 2rem;
	position: relative;
	z-index: 42;
}

header h1 {
    text-transform: lowercase;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

@media only screen and (max-width: 600px) {
	header {
		position: fixed;
	}

}
