.item {
	display: inline-block;
	width: 50rem;
	height: 100vh;
	position: relative;
	top: 0;
}

.container {
	margin: auto;
	margin-top: 15rem;
	position: relative;
}

.thumbnail {
	margin: 0 auto;
}

.tooltip {
    position: absolute;
	/* background-color: rgba(255, 255, 255, 0.5); */
	top: 0;
	left: 0;
	width: fit-content;
    max-width: 20rem;
    opacity: 0;
	transform: translateY(-120%);
	pointer-events: none;
}

.tooltip h3 {
    font-size: 25px;
    margin: 0.2rem 0;
}

.tooltip .year {
	display: block;
	position: absolute;
	top: 5%;
	left: 100%;
	font-weight: normal;
	font-size: 15px;
	padding-left: 2px;
}

.tooltip p {
    font-size: 15px;
    margin: 0.2rem 0;
}

@media only screen and (max-width: 600px) {
	.item {
		display: block;
		width: 90%;
		margin: 0 auto;
		height: auto;
	}

	.item div {
		width: 100% !important;
		margin-top: 0 !important;
		margin: 1rem 0;
	}

	.tooltip {
		display: none;
	}

}
