.item {
	display: inline-block;
	width: 50rem;
	height: 100vh;
	position: relative;
	top: 0;
}

.item div {
	margin: 0 auto;
}

.thumbnail {
	margin: 0 auto;
}

.tooltip {
    position: absolute;
    width: 20rem;
    opacity: 0;
	transform: translate(-50%, -50%);
    transition: opacity 0.3s ease;
}

.tooltip h3 {
    font-size: 25px;
    margin: 0.5rem 0;
}

.tooltip h4 {
    font-size: 20px;
    margin: 0.5rem 0;
}

.tooltip p {
    font-size: 15px;
    margin: 0.5rem 0;
}

@media only screen and (max-width: 600px) {
	.item {
		display: block;
		width: 90%;
		margin: 0 auto;
		height: auto;
	}

	.item div {
		width: 100% !important;
		padding-top: 0 !important;
		margin: 1rem 0;
	}

}
