.item {
	display: inline-block;
	width: 50rem;
	height: 100vh;
	position: relative;
	margin: 2.5rem;
	padding: 0;
}

.container {
	margin: auto;
	position: absolute;
	top: 10vh;
	left: 0;
	width: 100%;
}

.thumbnail {
	margin: 0 auto;
}

.tooltip {
    position: absolute;
	top: 0;
	left: 0;
	width: fit-content;
    max-width: 20rem;
    opacity: 0;
	transform: translateY(-120%);
	pointer-events: none;
}

.tooltip h3 {
    font-size: 1.6rem;
    margin: 0.2rem 0;
	width: fit-content;
}

.tooltip .year {
	display: block;
	position: absolute;
	top: 5%;
	left: 100%;
	font-weight: normal;
	font-size: 1rem;
	padding-left: 2px;
}

.tooltip p {
    font-size: 1rem;
    margin: 0.2rem 0;
}

@media only screen and (max-width: 600px) {
	.item {
		display: block;
		width: 90% !important;
		margin: 2rem auto;
		height: auto;
	}

	.container {
		position: relative;
		display: block;
		top: 0 !important;
	}

	.item div {
		width: 100% !important;
		margin-top: 0 !important;
		margin: 1rem 0;
	}

	.tooltip {
		display: none;
	}

}
